<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="university-system" />
<meta name="author" content="george dinkov" />
<title>@ViewBag.Title</title>
<!-- Bootstrap Css -->
<link href="../../Content/css/bootstrap.min.css" type="text/css" rel="Stylesheet" />
<link rel="stylesheet" type="text/css" href="../../Content/css/animate.css" />
<link rel="stylesheet" type="text/css" href="../../Content/css/style.css" />
<link href="../../Content/css/default.css" rel="stylesheet" type="text/css" />
<link href="../../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
