<section id="intro" class="intro">

    <div class="slogan">
        <h2>WELCOME TO <span class="text_color">University System</span> </h2>
        <h4>
            We are developing contemporary information system about universities and schools
            <br />
            Our mission is to give you a complete product which gives your staff and your disciples
            <br />
            the information that they seek and can find within minutes!
        </h4>
    </div>
    <center><p><a href="../Account/Login" class="btn btn-primary btn-lg">LOGIN TO TEST &raquo;</a></p></center>
</section>
